/* @override 
	https://matrix-cms.unimelb.edu.au/__data/assets/css_file/0026/62792/custom.css
	https://about.unimelb.edu.au/__data/assets/css_file/0025/69037/pup-custom.css */

/* Careers - PageUp */

h1 {
	font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', 'Arial', sans-serif;
	font-size: 1.25rem;
}

/* campaigns */

#campaignsDiv {
    margin: 0 0 1.5rem;
    padding: 0.75rem;
    border-radius: 4px;
    background-color: #f3f8d7;	
}
#campaignsDiv h2 {
	font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	color: #40601f;
	margin-bottom: 0;
}
#campaigns {
	margin-bottom:0 !important;
}
#campaigns li {
	padding: 0.5rem 0;
}
#campaigns p {
	font-size: 0.9rem;
	margin-bottom: 0;
}
#campaigns p a.job-link {
	font-size: 1rem;
}

/* main listing */

#pup table th {
	text-align: left;
	padding-left: 0;
}
#pup table tr td {
	padding: 0.75rem 0 0;
	font-size: 0.9rem;
	vertical-align: top;
}
#pup table tr td a {
	font-size: 1rem;
}
#pup table tr.summary td {
	border-bottom: 1px solid #eee;
	padding: 0 0 0.75rem;
}

/* job details screen */
#job-content .job-detail-container {
	border: 2px solid #094183;
}
#job-content .job-detail-container h2.heading-page-sub {
	background-color: #094183;
	color: #fff;
	padding: 1rem;
}
#job-content .job-detail-container div.job-summary, #job-content .job-detail-container div.job-details, #job-content .job-detail-container div.job-footer {
	margin: 0 1rem;
}

#job-content h3 {
	display: inline;
	font-size: 1rem;
}
#job-content .job-footer {
	padding: 1.5rem 0;
}
#job-content .job-nav {
	padding: 1.5rem 0;
}
#job-content .job-summary ul, #job-content .job-footer ul {
	list-style: none;
	padding-left: 0;
}
.job-summary p, .job-footer p {
	margin: 0 0 0.5rem;
}
@media screen and (min-width: 769px) {
	#job-content {
		padding-right: 8rem;
	}
}
#job-content .job-footer:after {
	content: "The University of Melbourne";
	text-indent: -900rem;
	display: block;
	margin-top: 2rem;
	width: 150px;
	height: 150px;
	background-color: #094183;
	background-image: url(https://d2h9b02ioca40d.cloudfront.net/v7.0/assets/logo-4d389.svg);
	background-size: 115px;
	background-repeat: no-repeat;
	background-position: 50%;
}
/* buttons */

#jobs-form .button {
	padding: .5rem 1.2rem;
	margin-bottom: 0.5rem;
	border: 2px solid rgba(9,65,131,.6);
	border-radius: 3px;
	background-color: transparent;
	background-image: none;
	color: #094183;
	font-weight: 600;
	vertical-align: middle;
	box-shadow: none;
}
#jobs-form .apply-link.button {
	border: 2px solid rgba(9,65,131,.7);
}
#jobs-form .button:hover, #jobs-form .button:focus {
	background-color: #f6f6f6;
	border-color: rgba(9,65,131,1);
}
#jobs-form .button:active {
	background-color: #e9efe4;
}
#jobs-form .job-detail-container .button.position-description-link:after {
	content:'\00a0';
	padding-left: 2em;
	background-image: url(https://about.unimelb.edu.au/__data/assets/file/0031/84298/download-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: 100%;
}

/* sidebar */
#pup .pup-sidebar {
	border-radius: 4px;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	background-color: #f2f5f9;
}

#pup input#search-keyword {
	width: 100%;
}

#pup .pup-sidebar h2, #pup .pup-sidebar h3 {
	font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', 'Arial', sans-serif;
	font-size: 1rem;
	margin: 0.5rem 0;
}
.filter-group .filter-group-title {
	font-style: italic;
	font-weight: bold;
	padding-left: 1rem;
}
#pup .pup-sidebar ul {
	padding-left: 1rem;
}
#pup .pup-sidebar li {
	font-size: 0.9rem;
	padding: 0.5rem 0 0 1rem;
	line-height: 1.2;
	position: relative;
}
#pup .pup-sidebar li input {
	margin-left: -1.1rem;
	position: relative;
	top: 0.1rem;
}
#pup .pup-sidebar li label span.count {
	font-style: italic;
}

/* share links */
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
	padding: 4px;
}
.job-share a[target='_blank']:not(.link-icon--disable)::after {
    content: 'link opens in a new window';
	position: absolute;
    visibility: hidden;
    left: -900em;
    background-image: none;
}